fastapi>=0.115.5
uvicorn[standard]>=0.32.1
sqlalchemy>=2.0.36
aiosqlite>=0.20.0
pydantic>=2.11.0
pydantic-settings>=2.7.0
pydantic[email]>=2.11.0
apscheduler==3.10.4
python-multipart>=0.0.20
aiofiles>=24.1.0
python-dotenv>=1.0.1
passlib[bcrypt]==1.7.4
bcrypt>=4.3.0
pyinstaller>=6.15.0
